@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />

    <hr />
    <hr />
<div class="row">
<div class="col-md-10">
    <div class="col-md-12 text-center" style="font-family:'Century Gothic'; font-weight:bold">
        Dear Perky Rabbit Recruiters. I am extremely sorry I could not finish the Certificate Portion of this Application.
        
    </div>
        <div class="col-md-12 text-center">
            <img src="~/lib/Images/Denial.gif" width="480" height="313" frameBorder="0" class="giphy-embed" allowFullScreen></img>
        </div>
        
        <hr />
        <div class="col-md-12 text-center" style="font-family:'Century Gothic'; font-weight:bold">
            I tried developing it but somehow ended up with Errors after Errors and could not finish the project on time. I have not worked with Certificate Creation before. Clearly I need more time and experience with softwares like these.

        </div>
        <div class="col-md-12 text-center">
            <img src="~/lib/Images/anger.gif" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></img>
            </div>

        <hr />
        <div class="col-md-12 text-center" style="font-family:'Century Gothic'; font-weight:bold">
           But Thanks to you, I have learned a lot while trying to Develop this project. This Coding test was comparatively more practical than others. I appreciate the opportunity that I was provided with. 

        </div>
        <div class="col-md-12 text-center">
            <img src="~/lib/Images/acceptance.gif" width="480" height="345" frameBorder="0" class="giphy-embed" allowFullScreen></img>
        </div>


</div>
</div>
    



